#home_view #modal_add { 
    position: absolute;
    background: rgba(1, 1, 1, 0.5);
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 0.15s;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
}

#home_view #modal_add.active {
    opacity: 100%;
    pointer-events: auto;
}

#home_view #modal_add form {
    background: linear-gradient(-45deg, var(--main1) 0%, var(--shine) 100%);
    width: 350px;
    height: 525px;
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#home_view #modal_add form #inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    height: 100%;
}

#home_view #modal_add form #inputs textarea {
    field-sizing: content;
    resize: none;
    border: none;
    background: none;
    max-width: 90%;
    text-align: center;
    color: var(--text1);
}

#home_view #modal_add form #inputs textarea:focus { outline: none }

#home_view #modal_add form #inputs #name { font-size: 34px }
#home_view #modal_add form #inputs #description { font-size: 18px }
#home_view #modal_add form #inputs textarea::placeholder { color: var(--text2) }

#home_view #modal_add form #buttons {
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    width: 100%;
    padding-bottom: 20px;
}

#home_view #modal_add form #buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 100%;
    font-size: 48px;
    color: var(--main1);
    background: linear-gradient(-45deg, var(--antishine) 0%, var(--text1) 100%);
}

#home_view #modal_add form .error {
    margin: 0;
    color: #FF0044;
    font-weight: 500;
}
