.custom-textarea-container { 
    width: 100%;
    display: grid;
    overflow-wrap: break-word;
}
.custom-textarea-container > .resizer {
    white-space: pre-wrap;
    visibility: hidden;
    overflow-wrap: break-word;
}

.custom-textarea-container > textarea {
    resize: none;
    overflow: hidden;
    height: 2px;
}

.custom-textarea-container > .textarea {
    font-family: "Cantarell";
    box-sizing: border-box;
    max-width: 1000px;
    padding: 0;
    font: inherit;
    font-size: 10px;
    grid-area: 1 / 1 / 2 / 2; 
    font-weight: bold;
    line-height: 10px;
    white-space: pre-wrap;
    word-break: break-all;
    border: 0;
    height: auto;
}
