@import "/public/styles/main_navbar.css";
@import "/public/styles/home_view/main.css";
@import "/public/styles/custom_textarea.css";

@font-face {
  font-family: "Cantarell";
  src: url("/public/Cantarell-VF.otf") format("opentype");
}

:root {
    --background: #edeff1;
    --main1: white;
    --text1: #2f3133;
    --text2: #b7bdc2;
    --shine: #f6f7f7;
    --antishine: #1B1C1C;

  font-family: "Cantarell", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body, html {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
} 

body { 
    background-color: var(--background);
    max-width: 1000px;
    margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0C0B0D;
    --main1: #161517;
    --text1: #ffffffff;
    --text2: #3D3F40;
    --shine: #1B1F21;
    --antishine: #EDF3F7;
  }
}
